<br>
<div>
  <p style="text-align:center ; font-family:Algerian ;font-size: 35px;">CPE PRODUCTS</p>
</div>
<div class="gridStyleing"> 
    <mat-grid-list cols="2" rowHeight="2.5:1" [gutterSize]="'40px'">
    <mat-grid-tile style="text-align: right">
    <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
  <mat-grid-tile>
    <div class ="imageStyle" >
    <img  src="../assets/images/Cisco 1841.jpg" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box2" >
        <h2 style="text-align:center ; font-family:Baskerville Old Face ;" >Cisco 1841</h2>
         <div class="desc">
          <p style="font-size:15px;">
            Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2005750000<br>
            F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5005750000<br>
            HFD Category&nbsp;&nbsp;		: CPE<br>
            Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: CPE<br>
            Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Office Access<br>
            Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 160347.65
            
          </p>
         </div>
        </div>
  </mat-grid-tile>
  </mat-grid-list>
    </mat-grid-tile>
    <!-- first row second grid -->
    <mat-grid-tile style="text-align: right">
        <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
      <mat-grid-tile>
        <div class ="imageStyle" >
        <img  src="../assets/images/Router type Maatwerk.jpg" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="box2" >
            <h2 style="text-align:center ;font-family:Baskerville Old Face ;" >Router type Maatwerk</h2>
             <div class="desc">
              <p style="font-size:15px;">
                Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2006530000<br>
                F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5006530000<br>
                HFD Category&nbsp;&nbsp;		: CPE<br>
                Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: CPE<br>
                Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Office Access<br>
                Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 0
                
              </p>
             </div>
            </div>
      </mat-grid-tile>
      </mat-grid-list>
        </mat-grid-tile>
        <!-- second row first grid -->
        <mat-grid-tile style="text-align: right">
            <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
          <mat-grid-tile>
            <div class ="imageStyle" >
            <img  src="../assets/images/KPN Int - Firewall.jpg" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="box2" >
                <h2 style="text-align:center ;font-family:Baskerville Old Face ;">KPN Int - Firewall</h2>
                 <div class="desc">
                  <p style="font-size:15px;">
                    Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2011371000<br>
                F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5011371000<br>
                HFD Category&nbsp;&nbsp;		: CPE<br>
                Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: CPE<br>
                Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Office Access<br>
                Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 1482
                    
                  </p>
                 </div>
                </div>
          </mat-grid-tile>
          </mat-grid-list>
            </mat-grid-tile>
   <!-- second row second grid -->
   <mat-grid-tile style="text-align: right">
    <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
  <mat-grid-tile>
    <div class ="imageStyle" >
    <img  src="../assets/images/Alcatel 789.jpg" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box2" >
        <h2 style="text-align:center ;font-family:Baskerville Old Face ;" >Alcatel 789</h2>
         <div class="desc">
          <p style="font-size:15px;">
            Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2006520000<br>
            F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5006520000<br>
            HFD Category&nbsp;&nbsp;		: CPE<br>
            Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: CPE<br>
            Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Office Access<br>
            Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 303.98
            
          </p>
         </div>
        </div>
  </mat-grid-tile>
  </mat-grid-list>
    </mat-grid-tile>s
  </mat-grid-list>
</div>
  