<br>
<div>
  <p style="text-align:center ; font-family:Algerian ;font-size: 35px;">ACCESS PRODUCTS</p>
</div>
<div class="gridStyleing"> 
    <mat-grid-list cols="2" rowHeight="2.5:1" [gutterSize]="'40px'">
    <mat-grid-tile style="text-align: right">
    <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
  <mat-grid-tile>
    <div class ="imageStyle" >
    <img  src="../assets/images/10 Gb Access.jpg" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box2" >
        <h2 style="text-align:center ;font-family:Baskerville Old Face ;" >Dual Dark Fiber 10 Gb access</h2>
         <div class="desc">
          <p style="font-size:15px;">
            Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2000220000<br>
            F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5000220000<br>
            HFD Category&nbsp;&nbsp;		: Access<br>
            Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Access Dark Fiber<br>
            Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Office Access<br>
            Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 270
            
          </p>
         </div>
        </div>
  </mat-grid-tile>
  </mat-grid-list>
    </mat-grid-tile>
    <!-- first row second grid -->
    <mat-grid-tile style="text-align: right">
        <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
      <mat-grid-tile>
        <div class ="imageStyle" >
        <img  src="../assets/images/Ethernet Access Premium 5 Mb VLAN.jpg" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="box2" >
            <h2 style="text-align:center ;font-family:Baskerville Old Face ;" >Ethernet Access Premium 5 Mb VLAN</h2>
             <div class="desc">
              <p style="font-size:15px;">
                Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2000445000<br>
                F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5000445000<br>
                HFD Category&nbsp;&nbsp;		: Access<br>
                Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Access Ethernet<br>
                Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Office Access<br>
                Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 0
                
              </p>
             </div>
            </div>
      </mat-grid-tile>
      </mat-grid-list>
        </mat-grid-tile>
        <!-- second row first grid -->
        <mat-grid-tile style="text-align: right">
            <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
          <mat-grid-tile>
            <div class ="imageStyle" >
            <img  src="../assets/images/SDSL-Basic.jpg" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="box2" >
                <h2 style="text-align:center ; font-family:Baskerville Old Face ;">SDSL-Basic 1.536/1.536 </h2>
                 <div class="desc">
                  <p style="font-size:15px;">
                    Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2003550000<br>
                    F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5003550000<br>
                    HFD Category&nbsp;&nbsp;		: Access<br>
                    Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Access Ethernet<br>
                    Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Office Access<br>
                    Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 1630.66
                    
                  </p>
                 </div>
                </div>
          </mat-grid-tile>
          </mat-grid-list>
            </mat-grid-tile>
   <!-- second row second grid -->
   <mat-grid-tile style="text-align: right">
    <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
  <mat-grid-tile>
    <div class ="imageStyle" >
    <img  src="../assets/images/Entry.jpg" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box2" >
        <h2 style="text-align:center ;font-family:Baskerville Old Face ;" >KPN Int - ADSL 3.072/512 Entry</h2>
         <div class="desc">
          <p style="font-size:15px;">
            Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2002015000<br>
            F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5002015000<br>
            HFD Category&nbsp;&nbsp;		: Access<br>
            Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Access Int<br>
            Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Office Access<br>
            Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 0

            
          </p>
         </div>
        </div>
  </mat-grid-tile>
  </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
  