<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
  }
  
</style>
</head>
<body>

<div style="border: 2px solid black; outline: solid 5px; padding: 20px;">

<div class="clearfix">
  <div class="gap">&nbsp;</div>
  <div class="box1" >
  <img src="../assets/images/Cisco 1841.jpg" alt="Avatar" style="width:295px;height:150px;">
  </div>
  <div class="gap">&nbsp;</div>
  <div class="box2" >
  <h2 style="margin-left: 60px">Cisco 1841</h2>
   <div class="desc">
    <p style="font-size:15px;">
      Artical ID⠀⠀⠀: 2005750000<br>
      F_Artical ID: 5005750000<br>
      HFD Category⠀⠀: CPE<br>
      Category⠀⠀⠀⠀⠀: CPE<br>
      Module⠀: Office Access<br>
      Amount⠀: 160347.65
      
    </p>
   </div>
  </div>
  <div class="gap">&nbsp;</div>
</div>
<div class="clearfix">
  <div class="gap">&nbsp;</div>
  <div class="box1">
    <img src="../assets/images/Router type Maatwerk.jpg" alt="Avatar" style="width:395px;height:210px;">
  </div>
  <div class="gap">&nbsp;</div>
  <div class="box2" >
  <h2 style="margin-left: 30px">Router type Maatwerk</h2>
   <div class="desc">
    <p><i>
      Artical ID		: 2006530000<br>
      HFD Category		: CPE<br>
      Category			: CPE<br>
      Module			: Office Access<br>
      Invoice Grouping	: Office Access<br>
      Amount			: 0
      
    </i></p>
   </div>
  </div>
  <div class="gap">&nbsp;</div>
</div>
<div class="clearfix">
  <div class="gap">&nbsp;</div>
  <div class="box1">
    <img src="../assets/images/KPN Int - Firewall.jpg" alt="Avatar" style="width:395px;height:210px;">
  </div>
  <div class="gap">&nbsp;</div>
  <div class="box2" >
  <h2 style="margin-left: 30px">KPN Int - Firewall</h2>
   <div class="desc">
    <p>
      Artical ID		: 2011371000<br>
      HFD Category		: CPE<br>
      Category			: CPE<br>
      Module			: Office Access<br>
      Invoice Grouping	: Office Access<br>
      Amount			: 1482
      
    </p>
   </div>
  </div>
  <div class="gap">&nbsp;</div>
</div>
<div class="clearfix">
  <div class="gap">&nbsp;</div>
  <div class="box1"  >
    <img src="../assets/images/Alcatel 789.jpg" alt="Avatar" style="width:395px;height:210px;">
  </div>
  <div class="gap">&nbsp;</div>
  <div class="box2" >
  <h2 style="margin-left: 30px">Alcatel 789</h2>
   <div class="desc">
    <p>
      Artical ID		: 2006520000<br>
      HFD Category		: CPE<br>
      Category			: CPE<br>
      Module			: Office Access<br>
      Invoice Grouping	: Office Access<br>
      Amount			: 303.98
      
    </p>
   </div>
  </div>
  <div class="gap">&nbsp;</div>
</div>
</div>

</body>
</html>
