  .box1 {
    float: left;
    width: 30%;
    
  }
  .box2 {
    float: left;
    width: 55%;
    background-color: #ccc;
  }
  .gap{
    float: left;
    width: 5%;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
    padding: 17px;
  }
  .desc{
    margin-left: 50px
  }