<div class="container">
  <img src="../assets/images/wireless.jpg"  width="1380" height="350" style="margin-left: -12%;">
  <div class="text-block">
    <p style="font-size:30px ; font-family: Algerian;">KPN PRODUCTS OVERVIEW</p>
    
  </div>
</div>

<!--tab for 4 families-->
<mat-tab-group >
  <mat-tab label="IPVPN MANAGED">
    <br>
    <div class ="productHeading">
      <p style="font-family:Baskerville Old Face ;">IPVPN Managed Product Catagories</p>
    </div>
    <br>
    <table  style= "background-color:#474e5d;">
      <tr>
        <td style="padding: 75px; margin-left: 20%;" >
          <html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
<div class="flip-card" style="background-color:#ccc ;">
  <div class="flip-card-inner">
    <div class="flip-card-front" style="background-color:white;">
        
         <p style="font-size: 20px; margin-top: 5%;font-family: Algerian;">CPE</p>
         <p style="font-size: 15px; margin-left:2% ;margin-right:2% ;"> A customer-premises equipment is any terminal and associated equipment located at
            a subscriber's premises and connected with a carrier's telecommunication circuit at 
            the demarcation point.
         </p>
         <img src="../assets/images/CPE.jpg" alt="Avatar" style="width:170px;height:110px;">
         <div style="display: inline ;padding-bottom: 6px;">      
         </div>        
         </div>
         <div class="flip-card-back "  style="background-color:white;">
          <p style="font-size: 20px;color: black; margin-top: 2.5%;font-family: Algerian;">CPE Products</p>
          <li>Cisco 1841 </li>
          <li>Router type Maatwerk</li>
          <li>KPN Int - Firewall</li>
          <li>Alcatel 789</li>
          <a routerLink="/productOverview1-component"><button mat-raised-button >Product Overview</button></a>
          </div>
          </div>
          </div>
          </body>
          </html>
    <!-- First row second column -->
 </td>
  <td style="padding: 75px;">
    <html>
      <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      </style>
      </head>
      <body>
      <div class="flip-card" style="background-color:#ccc ;">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-color:white;">
              
               <p style="font-size: 20px; margin-top: 5%;font-family: Algerian;">ACCESS</p>
               <p style="font-size: 15px;margin-left:2% ;margin-right:2% ;"> An access is a type of telecommunications network which connects subscribers
                 to their immediate service provider.It is contrasted with the core network,
                 which connects local providers to one another.
               </p>
               <img src="../assets/images/Access.jpg" alt="Avatar" style="width:170px;height:110px;">
               <div style="display: inline ;padding-bottom: 6px;">      
               </div>        
               </div>
               <div class="flip-card-back "  style="background-color:white;">
                <p style="font-size: 20px;color: black; margin-top: 2.5%;font-family: Algerian;">Access Products</p>
                <li>Dual Dark Fiber 10 Gb access</li>
                <li>Ethernet Access Premium 5 Mb </li>
                <li>SDSL-Basic 1.536/1.536 </li>
                <li>KPN Int - ADSL 3.072/512 Entry</li>
                <a routerLink="/access-component"><button mat-raised-button >Product Overview</button></a>
                </div>
                </div>
                </div>
                </body>
                </html>
          </td>
      <!-- First row third column -->
      <td style="padding:75px;">
        <html>
          <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <style>
          body {
            font-family: Arial, Helvetica, sans-serif;
          }
          </style>
          </head>
          <body>
          <div class="flip-card" style="background-color:#ccc ;">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-color:white;">
                  
                   <p style="font-size: 20px; margin-top: 5%;font-family: Algerian;">GATEWAY</p>
                   <p style="font-size: 15px;margin-left:2% ;margin-right:2% ;"> A gateway is a piece of networking hardware used in telecommunications
                     for telecommunications networks that allows data to flow from one discrete network to another.
                   </p>
                   <img src="../assets/images/Gateway.png" alt="Avatar" style="width:170px;height:110px;">
                   <div style="display: inline ;padding-bottom: 6px;">      
                   </div>        
                   </div>
                   <div class="flip-card-back "  style="background-color:white;">
                    <p style="font-size: 20px;color: black; margin-top: 2.5%;font-family: Algerian;">Gateway Products</p>
                    <li>KPN VPN-gateway VC2 Asd GR</li>
                    <li>KPN VPN-Mobile Access module</li>
                    <li>KPN VPN-gateway HCS Rt</li>
                    <li>KPN VPN-Internet VPN</li>
                    <a routerLink="/gateway-component"><button mat-raised-button >Product Overview</button></a>
                    </div>
                    </div>
                    </div>
                    </body>
                    </html>
              </td>
</tr>
<!-- Second row first column -->
<tr>
  <td style="padding: 75px; margin-left: 20%;" >
    <html>
          <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <style>
          body {
            font-family: Arial, Helvetica, sans-serif;
          }
          </style>
          </head>
          <body>
          <div class="flip-card" style="background-color:#ccc ;">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-color:white;">
                  
                   <p style="font-size: 20px; margin-top: 5%;font-family: Algerian;">SLA</p>
                   <p style="font-size: 15px;margin-left:2% ;margin-right:2% ;"> A telecom SLA (service level agreement) defines a set of specific 
                    services tuned to the needs of a given customer, along with quality parameters.
                   </p>
                   <img src="../assets/images/SLA.png" alt="Avatar" style="width:170px;height:130px;">
                   <div style="display: inline ;padding-bottom: 6px;">      
                   </div>        
                   </div>
                   <div class="flip-card-back "  style="background-color:white;">
                    <p style="font-size: 20px;color: black; margin-top: 2.5%;font-family: Algerian;">SLA Products</p>
                    <li>Service Proactief 24x7 4uur</li>
                    <li>Service Reactief Winkel 8uur</li>
                    <li>Verbinding-Service 24x7</li>
                    <li>Service Router 7x24uur</li>
                    <a routerLink="/productOverview-component"><button mat-raised-button >Product Overview</button></a>
                    </div>
                    </div>
                    </div>
                    </body>
                    </html>
              </td>
              <!-- Second row second column -->

  <td style="padding: 75px; margin-left: 20%;" >
    <html>
          <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <style>
          body {
            font-family: Arial, Helvetica, sans-serif;
          }
          </style>
          </head>
          <body>
          <div class="flip-card" style="background-color:#ccc ;">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-color:white;">
                  
                   <p style="font-size: 20px; margin-top: 5%;font-family: Algerian;">CONTAINER</p>
                   <p style="font-size: 15px;margin-left:2% ;margin-right:2% ;"> Container technology allows data to be distributed
                     across a network or data-center in small packages.
                   </p>
                   <img src="../assets/images/Container.jpg" alt="Avatar" style="width:170px;height:150px;">
                   <div style="display: inline ;padding-bottom: 6px;">      
                   </div>        
                   </div>
                   <div class="flip-card-back "  style="background-color:white;">
                    <p style="font-size: 20px;color: black; margin-top: 2.5%;font-family: Algerian;">Container Products</p>
                    <li> Container 200M Entry</li>
                    <li>Container 1M Premium</li>
                    <li>Container 20M Entry</li>
                    <li>Container 100M Entry</li>
                    <a routerLink="/productOverview-component"><button mat-raised-button >Product Overview</button></a>
                    </div>
                    </div>
                    </div>
                    </body>
                    </html>
              </td>
<!-- Second row third column -->
  <td style="padding: 75px; margin-left: 20%;" >
    <html>
          <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <style>
          body {
            font-family: Arial, Helvetica, sans-serif;
          }
          </style>
          </head>
          <body>
          <div class="flip-card" style="background-color:#ccc ;">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-color:white;">
                  
                   <p style="font-size: 20px; margin-top: 5%;font-family: Algerian;">CONTRACT</p>
                   <p style="font-size: 15px;margin-left:2% ;margin-right:2% ;"> Contracts are written, binding agreements 
                    that are made between a customer (buyer) and a merchandiser (seller)
                   </p>
                   <img src="../assets/images/Contract.png" alt="Avatar" style="width:170px;height:140px;">
                   <div style="display: inline ;padding-bottom: 6px;">      
                   </div>        
                   </div>
                   <div class="flip-card-back" style="background-color:white;">
                    <p style="font-size: 20px;color: black; margin-top: 2.5%;font-family: Algerian;">Contract Products</p>
                    <li>Korting Projectkosten</li>
                    <li>Maatwerk Epacity</li>
                    <li>Maatwerk Factuur</li>
                    <li>CISCO2951</li>
                    <a routerLink="/productOverview-component"><button mat-raised-button>Product Overview</button></a>
                    </div>
                    </div>
                    </div>
                    </body>
                    </html>
              </td>
</tr>

      
    </table>
      
  </mat-tab>
  <mat-tab label="IPVPN UNMANAGED "> Under construction </mat-tab>
  <mat-tab label="CORPORATE INTERNET "> Under construction </mat-tab>
  <mat-tab label="EVPN"> Under construction </mat-tab>
  <mat-tab label="PL/DF"> Under construction </mat-tab>
  
</mat-tab-group>

