<br>
<div>
  <p style="text-align:center ; font-family:Algerian ;font-size: 35px;">GATEWAY PRODUCTS</p>
</div>
<div class="gridStyleing"> 
    <mat-grid-list cols="2" rowHeight="2.5:1" [gutterSize]="'40px'">
    <mat-grid-tile style="text-align: right">
    <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
  <mat-grid-tile>
    <div class ="imageStyle" >
    <img  src="../assets/images/KPN VPN - gateway.png" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box2" >
        <h2 style="text-align:center ;font-family:Baskerville Old Face ;" >KPN VPN - gateway VC2 Asd GR</h2>
         <div class="desc">
          <p style="font-size:15px;">
            Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2007250600<br>
                F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5007250600<br>
                HFD Category&nbsp;&nbsp;		: Gateway<br>
                Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: VPN gateway<br>
                Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: VPN Algemeen<br>
                Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 0
            
          </p>
         </div>
        </div>
  </mat-grid-tile>
  </mat-grid-list>
    </mat-grid-tile>
    <!-- first row second grid -->
    <mat-grid-tile style="text-align: right">
        <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
      <mat-grid-tile>
        <div class ="imageStyle" >
        <img  src="../assets/images/KPN VPN - Mobile Access module.jpg" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="box2" >
            <h2 style="text-align:center ;font-family:Baskerville Old Face ;" >KPN VPN - Mobile Access</h2>
             <div class="desc">
              <p style="font-size:15px;">
                Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2007160000<br>
                F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5007160000<br>
                HFD Category&nbsp;&nbsp;		: Gateway<br>
                Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: VPN gateway<br>
                Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: Mobile Access<br>
                Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 0
                
              </p>
             </div>
            </div>
      </mat-grid-tile>
      </mat-grid-list>
        </mat-grid-tile>
        <!-- second row first grid -->
        <mat-grid-tile style="text-align: right">
            <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
          <mat-grid-tile>
            <div class ="imageStyle" >
            <img  src="../assets/images/KPN VPN - gateway HCS Rt.jpg" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="box2" >
                <h2 style="text-align:center ;font-family:Baskerville Old Face ;">KPN VPN - gateway HCS RT</h2>
                 <div class="desc">
                  <p style="font-size:15px;">
                    Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2007250900<br>
                F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5007250900<br>
                HFD Category&nbsp;&nbsp;		: Gateway<br>
                Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: VPN gateway<br>
                Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: VPN Algemeen<br>
                Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 0
                    
                  </p>
                 </div>
                </div>
          </mat-grid-tile>
          </mat-grid-list>
            </mat-grid-tile>
   <!-- second row second grid -->
   <mat-grid-tile style="text-align: right">
    <mat-grid-list cols="2" rowHeight="1:1" style="width: 100%;">
  <mat-grid-tile>
    <div class ="imageStyle" >
    <img  src="../assets/images/KPN VPN - Internet VPN.png" alt="Avatar" style="width:195px;height:150px; border:1px solid black; ">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box2" >
        <h2 style="text-align:center ;font-family:Baskerville Old Face ;" >KPN VPN - Internet VPN</h2>
         <div class="desc">
          <p style="font-size:15px;">
            Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 2007215000<br>
            F_Artical ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: 5007215000<br>
            HFD Category&nbsp;&nbsp;		: Gateway<br>
            Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: VPN gateway<br>
            Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: VPN<br>
            Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			: 0
            
          </p>
         </div>
        </div>
  </mat-grid-tile>
  </mat-grid-list>
    </mat-grid-tile>s
  </mat-grid-list>
</div>
  